
$small-button-size: 15px;
$medium-button-size: 25px;
$big-button-size: 45px;
$button-outline-size: 7px;

.center{
  text-align:center;
}

.test-questions{

  margin-top:60px;

    background-color: #505772;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}


.radio-container{


    width:1000px;
    margin-left:auto;
    margin-right:auto;
  }


  .horizontal-line{
    color:white;
    width:70%;
  }

  .radio-question{

    text-align:center;
    font-size:20px;
    margin:20px 0px;
  }
  
  
  .buttons-container{
    display:flex;
    justify-content:space-around;
    margin: 15px 100px;
    border: 0px;
  }
  
  .button-box{
      width:100px;
      height:100px;
      display:flex;
      flex-direction:column;
  
      text-align:center;


  
  }

  // have to hide these and make a custom button on top 
  .radio-button{

    width:$big-button-size;
    height:$big-button-size;
    position:absolute;
    opacity:0;
    z-index:2; // the invisible button has to go on top so you can click it
  }

  .radio-button:hover{
    cursor:pointer;
  }
 

  .radio-button-text{
    display:none; //hiding these for now
  }


  .custom-radio{
    z-index:0;
    position:absolute;
    background-color:none;
    border:$button-outline-size solid white;
    border-radius: 50%;
  }


 

  .custom-radio:hover{
    background-color:gray;
  }

  .medium{
    width:$medium-button-size;
    height:$medium-button-size;
  }

  .small{
    width:$small-button-size;
    height:$small-button-size;
  }

  .big{
    width:$big-button-size;
    height:$big-button-size;
  }

  

  

  
  .test-bottom{
    padding: 60px 120px;
  

    margin-left:auto;
    margin-right:auto;
    display:flex;

    justify-content:space-between;
  
  }

  .test-bottom-text{
    text-align:center;
    font-weight:600;
  }
  
  .next-button{
    display:block;
  margin-left:auto;
  margin-right:auto;
  }


  .test-top{
    text-align:center;
    padding: 30px 0px;
    font-weight:600;
  }